In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('dataset.csv')
df = df[['Brand', 'Stars']]


df = df[(df.Stars != 'NR') & (df.Stars != 'NS') & (df.Stars != 'Unrated')]
df = df[df["Stars"].str.contains("/")==False]

df['Stars'] = df['Stars'].astype(float)

In [5]:
df['Stars'].unique()

array([5.   , 3.75 , 4.   , 4.5  , 1.   , 0.   , 2.5  , 2.   , 3.5  ,
       3.   , 3.25 , 1.5  , 4.25 , 0.25 , 2.25 , 2.75 , 0.5  , 4.75 ,
       1.25 , 1.75 , 0.75 , 1.1  , 2.1  , 0.9  , 3.1  , 4.125, 3.125,
       2.125, 2.9  , 0.1  , 2.8  , 3.7  , 3.4  , 3.6  , 2.85 , 2.3  ,
       3.2  , 3.65 , 1.8  ])

In [6]:
df2 = df.groupby(['Brand']).agg(['mean','count'])

In [7]:
df2

                   Stars
                    mean count
Brand
1 To 3 Noodles     4.000     1
7 Select           3.625     2
7 Select/Nissin    3.500     1
7-Eleven / Nissin  4.250     1
A-One              2.750     4
...                  ...   ...
Zombear            4.500     1
Zow Zow            3.750     1
iMee               3.500     4
iNoodle            3.000     2
nunu               3.500     1

[509 rows x 2 columns]

In [29]:
df3 = df2[(df2.Stars['count'] >50)]

In [30]:
df3 = df3.sort_values(by=('Stars', 'mean'), ascending=False)
pd.options.display.max_rows = 300
df3.head(65)

                    Stars
                     mean count
Brand
Samyang Foods    4.099490    98
Indomie          4.089286    56
Paldo            4.040625    80
Nongshim         4.032328   116
Nissin           3.894272   467
Myojo            3.848485    99
Sapporo Ichiban  3.785714    56
Mama             3.628873    71
Maruchan         3.606151   126

In [10]:
test = df[(df.Brand == 'Samyang Foods') & ((df.Stars>3) & (df.Stars <= 4))]

In [11]:
test

              Brand  Stars
37    Samyang Foods   3.50
39    Samyang Foods   3.50
52    Samyang Foods   4.00
202   Samyang Foods   4.00
207   Samyang Foods   4.00
216   Samyang Foods   4.00
326   Samyang Foods   4.00
366   Samyang Foods   3.50
372   Samyang Foods   3.75
426   Samyang Foods   3.50
428   Samyang Foods   4.00
461   Samyang Foods   4.00
468   Samyang Foods   3.75
491   Samyang Foods   4.00
503   Samyang Foods   3.75
539   Samyang Foods   3.75
599   Samyang Foods   4.00
686   Samyang Foods   3.50
689   Samyang Foods   4.00
690   Samyang Foods   3.75
744   Samyang Foods   4.00
805   Samyang Foods   3.25
850   Samyang Foods   3.75
853   Samyang Foods   3.75
859   Samyang Foods   3.75
965   Samyang Foods   3.75
992   Samyang Foods   3.75
997   Samyang Foods   4.00
1049  Samyang Foods   3.75
1076  Samyang Foods   4.00
1105  Samyang Foods   3.75
1106  Samyang Foods   4.00
1109  Samyang Foods   4.00
1110  Samyang Foods   4.00
1182  Samyang Foods   3.50
1203  Samyang Foods   3.75
1372  Samyang Foods   4.00
1839  Samyang Foods   3.50
1925  Samyang Foods   3.75
1975  Samyang Foods   3.50
2043  Samyang Foods   4.00
2101  Samyang Foods   3.75
2201  Samyang Foods   3.50
2223  Samyang Foods   3.75
2292  Samyang Foods   4.00
2313  Samyang Foods   3.75
2360  Samyang Foods   3.50
2443  Samyang Foods   3.75
2445  Samyang Foods   4.00
2446  Samyang Foods   4.00
2447  Samyang Foods   3.75
2448  Samyang Foods   3.75
2454  Samyang Foods   4.00
2456  Samyang Foods   3.75

In [16]:
print(df[(df.Brand == 'Samyang Foods') & ((df.Stars<=1))].count()['Brand'])
print(df[(df.Brand == 'Samyang Foods') & ((df.Stars>1) & (df.Stars <= 2))].count()['Brand'])
print(df[(df.Brand == 'Samyang Foods') & ((df.Stars>2) & (df.Stars <= 3))].count()['Brand'])
print(df[(df.Brand == 'Samyang Foods') & ((df.Stars>3) & (df.Stars <= 4))].count()['Brand'])
print(df[(df.Brand == 'Samyang Foods') & ((df.Stars>4) & (df.Stars <= 5))].count()['Brand'])

1
1
2
54
40

In [37]:
def count(perc, total):
    res = perc/total * 100
    return res

In [54]:
#Samyang Foods
list = [1, 1 , 2, 54, 40]

for i in list:
    print(count(i, 98))

1.0204081632653061
1.0204081632653061
2.0408163265306123
55.10204081632652
40.816326530612244

In [55]:
#Indomie
list = [0, 3 , 6, 15, 32]

for i in list:
    print(count(i, 98))

0.0
3.061224489795918
6.122448979591836
15.306122448979592
32.6530612244898

In [56]:
#Paldo
list = [1, 1 , 2, 44, 32]

for i in list:
    print(count(i, 80))

1.25
1.25
2.5
55.00000000000001
40.0

In [57]:
#Nongshim
list = [1, 3 , 8, 49, 55]

for i in list:
    print(count(i, 116))

0.8620689655172413
2.586206896551724
6.896551724137931
42.241379310344826
47.41379310344828

In [23]:
#Myojo
list = [2, 3, 12, 45, 37]

for i in list:
    print(count(i, 99))

2.0202020202020203
3.0303030303030303
12.121212121212121
45.45454545454545
37.37373737373738

In [17]:
#fungsi binomial
import math

def binomial(percentage, amount, x):
    result = (math.comb(amount, x)) * (percentage**x) * ((1-percentage)**(amount-x))
    return result

In [60]:
#Samyang Foods
total = 0
for i in range(10):
    percentage = 0.408 
    amount = 10
    x = i+1
    
    if x > 5 :
        current = binomial(percentage, amount, x)
        total += current

    print(binomial(percentage, amount, x))
print('\n total :', total)

0.03643808323802499
0.1130072986909018
0.20768908948598166
0.2504898815759981
0.20716190206014973
0.11897811942643731
0.04685624780500619
0.012109807287442476
0.0018546551701488475
0.00012782082929404216

 total : 0.1799266505183289

In [61]:
#Indomie
total = 0
for i in range(10):
    percentage = 0.327 
    amount = 10
    x = i+1
    
    if x > 5 :
        current = binomial(percentage, amount, x)
        total += current

    print(binomial(percentage, amount, x))
print('\n total :', total)

0.09261542642636741
0.2025016344523026
0.2623795323066982
0.22310057557579205
0.13008122712621215
0.05267033342034593
0.014623815774530348
0.002664554843018996
0.00028770329657163996
1.3979045762098998e-05

 total : 0.07026038638022902

In [62]:
#Paldo
total = 0
for i in range(10):
    percentage = 0.4 
    amount = 10
    x = i+1
    
    if x > 5 :
        current = binomial(percentage, amount, x)
        total += current

    print(binomial(percentage, amount, x))
print('\n total :', total)

0.04031078399999999
0.12093235199999998
0.21499084799999998
0.250822656
0.2006581248
0.11147673600000005
0.042467328000000006
0.010616832000000005
0.0015728640000000009
0.00010485760000000006

 total : 0.16623861760000005

In [63]:
#Nongshim
total = 0
for i in range(10):
    percentage = 0.474 
    amount = 10
    x = i+1
    
    if x > 5 :
        current = binomial(percentage, amount, x)88888888888888888
        total += current8888888888888

    print(binomial(percentage, amount, x))
print('\n total :', total)

0.014609994049737857
0.059245470167473085
0.14236934275985924
0.22451591220399858
0.24278450734151025
0.18231916425835842
0.09388298083483095
0.03172566510150418
0.006353175013989429
0.0005725104480287052

 total : 0.3148534956567116

In [20]:
#Myojo
total = 0
for i in range(10):
    percentage = 0.374
    amount = 10
    x = i+1
    
    if x > 5 :
        current = binomial(percentage, amount, x)
        total += current

    print(binomial(percentage, amount, x))
print('\n total :', total)

0.05521290540189694
0.1484398079734705
0.2364919624369669
0.247258769033538
0.1772679481505621
0.08825640656058338
0.03013043911789884
0.006750469786398262
0.0008962285055424033
5.354464234390716e-05

 total : 0.12608708861276682